@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");

@layer base {
  html {
    font-family: "Noto Sans KR", sans-serif;
  }

  body {
    background-color: theme("colors.gray[50]");
    color: theme("colors.gray[900]");
  }

  @font-face {
    font-family: "PyeongChangPeace-Bold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2")
      format("woff2");
    font-weight: 700;
    font-style: normal;
  }
}
